{{#each devices}}

<div class="card card-body mb-2">
    <h4>{{devName}}</h4>
    <p>{{devIP}}:{{devPort}}</p>
    <p>{{createUser}}-{{createDate}}</p>
    <p>{{updateUser}}-{{updateDate}}</p>
    <a href="/device/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit</a>
    <form action="/device/{{id}}?_method=DELETE" method="POST">
        <input type='hidden' name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="Delete">
    </form>
</div>

{{else}}
<h1>- No device listed -</h1>
{{/each}}